    body {
    /* background-color: orchid; */
    background-image: url('https://media.istockphoto.com/id/511471834/photo/concrete-block-wall-seamless-background-and-texture.jpg?s=612x612&w=0&k=20&c=iafejWSSh31K2Qs1qbYeP89MimIKTCi2DRvtV1_fcPE=');
    
}
.buttons {
    border: 2px solid white;
    width: fit-content;
    padding-right: 112px;
    margin: auto;
    margin-top: 250px;
    border: none;
}
p.clicks {
    margin-left: 147px;
    font-weight: 700;
    font-size: larger; 
}
#plus {
    font-size: larger;
    margin-left: 20px;
}
#minus {
    font-size: larger;
    margin-right: 20px;
}
#totalClicks{
    font-size: larger;
}